/**
 * Stylesheet for Example's Welcome feature.
 */

.mw-example-welcome {
	display: block;
	background-color: #f9f9f9;
	border: 1px solid #eee;
	padding: 0.5em 0.7em;
	margin: 1em 0;
	overflow: hidden;
}

.mw-example-welcome-color {
	float: right;
	padding: 0.5em 0.7em;
	background: white;
	border: 5px solid transparent;
	text-align: center;
}

.mw-example-welcome-color-code {
	font-size: large;
}
